<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <!--banner-->
  <section  class="banner">
  <app-header></app-header>
    </section>
    <!--/ banner-->
    <div class="content" style="min-height: 168px;margin-top: 90px;background-color: #f8f9fa;">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

          <!-- Success Card -->
          <div class="card success-card">
            <div class="card-body">
              <div class="success-cont">
                <i class="fa fa-check"></i>
                <h3>Appointment booked Successfully!</h3>
                <p style="color:#000">Appointment booked with <strong>Dr. Suneel Kandru</strong><br> on <strong>11 Feb 2020 10:00AM to 10:30AM</strong></p>
                <a href="#" class="btn btn-danger view-inv-btn">Reschedule Appointment</a>
              </div>
            </div>
          </div>
          <!-- /Success Card -->

        </div>
        <div class="col-lg-3"></div>
      </div>

    </div>

  </div>
    <app-footer></app-footer>

    </body>
