<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<button type="button" class="mobile-nav-toggle d-lg-none"><i class="fa fa-bars"></i></button>

	<!-- ======= Header ======= -->
  <app-header></app-header>
	<!-- #header -->


	<main id="main">
		<div class="content" style="min-height: 168px;margin-top: 3rem;background-color: #ffffff;">
			<div class="container">

				<!-- Doctor list Section -->
				<section>

					<div class="container bg-white md-padding-two-top">
						<div class="profile_divider">
							<div class="row padding-two-top">
								<div class="media col-md-2">
									<div class="row">
										<div class="col-auto mr-auto">
											<figure class="pull-left">
												<a href="./doctor-profile.html"> <img
														class="media-object img-rounded img-responsive imgwh-130px"
														src="../../assets/images/dr-m.jpg" alt="Doctor image"></a><br>
											</figure>
										</div>
										<div class="col-auto xs-margin-twenty-three-top">
											<a href="./doctor-profile.html" role="button" aria-pressed="true"
												class=" view_phone "><span style="font-size: 15px;margin-right:10px"><i
														class="fa fa-user "></i></span>View Profile</a>
										</div>
									</div>
								</div>
								<div class="col-md-10 footer-menu">
									<div class="row">
										<div class="col-auto mr-auto xs-doctor-name">
											<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
											<h5 class="xs-font-17px">Dr. Suneel Kandru</h5>
										</div>
										<div class="col-auto">
											<a href="#" role="button" aria-pressed="true"
												class="btn btn-md  btn-outline-warning border-r-50"><span
													style="font-size: 15px;margin-right:10px"><i class="fa fa-user "
														data-toggle="modal" data-target="#notemodal"></i></span>Refer a
												Patient</a>
										</div>

										<div class="col-auto xs-book-appointment"><a href="./doctor-profile.html"
												role="button" aria-pressed="true"
												class="btn btn-md  btn-outline-danger border-r-50"><span
													style="font-size: 15px;margin-right:10px"><i
														class="fa fa-calendar "></i></span>Book Appointment</a></div>
									</div>
									<p>Dr. Suneel Kandru is a robotics certified Gynaecologist specializing in minimally
										invasive
										gynecologic surgeries. She has been recognized for her compassion as well as her
										commitment to quality of care</p>
									<ul>
										<li>
											Google Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
										</li>
										<li>
											Clinic Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Services<br>
											<a>
												Board Certified<br>
											</a>
										</li>
										<li class="subscriber_book"><a>Schedule Now</a></li>
										<li>
											Medcohere Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
										</li>
										<li>
											Contact Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Google API<br>
											<a> <span>Google API to be placed </span>
											</a>

										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="profile_divider">
							<div class="row">
								<div class="media col-md-2">
									<div class="row">
										<div class="col-auto mr-auto">
											<figure class="pull-left">
												<a href="doctor-profile.html"> <img
														class="media-object img-rounded img-responsive imgwh-130px"
														src="../../assets/images/dr-f.jpg" alt="Doctor image"></a><br>
											</figure>
										</div>
										<div class="col-auto xs-margin-twenty-three-top">
											<a href="doctor-profile.html" role="button" aria-pressed="true"
												class=" view_phone "><span style="font-size: 15px;margin-right:10px"><i
														class="fa fa-user "></i></span>View Profile</a>
										</div>
									</div>
								</div>
								<div class="col-md-10 footer-menu">
									<div class="row">
										<div class="col-auto mr-auto xs-doctor-name">
											<h5 class="xs-font-17px">Dr. Ashwitha Rao
											</h5>
										</div>
										<div class="col-auto pull-right">
											<button aria-pressed="true"
												class="btn btn-md  btn-outline-warning border-r-50" data-toggle="modal"
												data-target="#noteModal" data-backdrop="static"
												data-keyboard="false"><span style="font-size: 15px;margin-right:10px"><i
														class="fa fa-user "></i></span>Refer a Patient</button>
										</div>
										<div class="col-auto xs-book-appointment">
											<a href="doctor-profile.html" role="button" aria-pressed="true"
												class="btn btn-md btn btn-outline-danger border-r-50"><span
													style="font-size: 15px;margin-right:10px"><i
														class="fa fa-calendar "></i></span>Book Appointment</a>
										</div>
									</div>
									<p>Dr. Ashwitha Rao is a robotics certified Gynaecologist specializing in minimally
										invasive
										gynecologic surgeries. She has been recognized for her compassion as well as her
										commitment to quality of care</p>
									<ul>
										<li>
											Google Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>

										</li>
										<li>
											Clinic Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Services<br>
											<a>
												Board Certified<br>
											</a></li>
										<li class="unsubscriber_book"><a>Request Appointment</a></li>
										<li>
											Medcohere Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star "></span>
											<span class="fa fa-star "></span>
										</li>
										<li>
											Contact Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Google API<br>
											<a> <span>Google API to be placed </span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="profile_divider">
							<div class="row">
								<div class="media col-md-2">
									<div class="row">
										<div class="col-auto mr-auto ">
											<figure class="pull-left">
												<a href="./doctor-profile.html"> <img
														class="media-object img-rounded img-responsive imgwh-130px"
														src="../../assets/images/dr-m.jpg" alt="Doctor image"></a><br>
											</figure>
										</div>
										<div class="col-auto xs-margin-twenty-three-top">
											<a href="./doctor-profile.html" role="button" aria-pressed="true"
												class=" view_phone "><span style="font-size: 15px;margin-right:10px"><i
														class="fa fa-user "></i></span>View Profile</a>
										</div>
									</div>
								</div>
								<div class="col-md-10 footer-menu">
									<div class="row">
										<div class="col-auto mr-auto xs-doctor-name">
											<h5 class="xs-font-17px">Dr. John Frank </h5>
										</div>
										<div class="col-auto">
											<a href="#" role="button" aria-pressed="true"
												class="btn btn-md  btn-outline-warning border-r-50"><span
													style="font-size: 15px;margin-right:10px"><i
														class="fa fa-user "></i></span>Refer a Patient</a>
										</div>
										<div class="col-auto xs-book-appointment"><a href="./doctor-profile.html"
												role="button" aria-pressed="true"
												class="btn btn-md btn btn-outline-danger border-r-50"><span
													style="font-size: 15px;margin-right:10px"><i
														class="fa fa-calendar "></i></span>Book Appointment</a></div>
									</div>
									<p>Dr. John Frank is a robotics certified Gynaecologist specializing in minimally
										invasive
										gynecologic surgeries. She has been recognized for her compassion as well as her
										commitment to quality of care</p>
									<ul>
										<li>
											Google Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star "></span>
											<span class="fa fa-star"></span>
										</li>
										<li>
											Clinic Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Services<br>
											<a>
												Board Certified<br>
											</a></li>
										<li class="subscriber_book"><a>Schedule Now</a></li>
										<li>
											Medcohere Review<br>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
										</li>
										<li>
											Contact Details<br>
											<a>
												305 7th Avenue 10th floor<br>
												New York, New York 10001
											</a>
										</li>
										<li>
											Google API<br>
											<a> <span>Google API to be placed </span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- /Doctor list Section -->
			</div>
		</div>
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<app-footer></app-footer>

  <!-- End  Footer -->

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="dateOfBirth">Date of birth</label>
					<div class="input-group">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close Btn')">Close</button>
			<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save')">Save</button>
		</div>
	</ng-template>
</body>
