<body>
  <button type="button" class="mobile-nav-toggle d-lg-none"><i class="fa fa-bars"></i></button>

	<!-- ======= Header ======= -->
  <app-header></app-header>
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="clearfix">
		<div class="container d-flex h-100">
			<div class="row justify-content-center align-self-center">
				<div class="col-md-7 intro-info order-md-first order-last">
					<h2> Looking for a Dentist?<br> <span> We're here to help you!</span></h2>
					<div id="call-to-action">
						<div class="form-row">
							<div class="form-group col-md-7">
                                <ng-template #myTemp let-item>
                                    <div class="item-name">
                                      {{item.result.name}}
                                    </div>
                                    <div class="item-desc">
                                      {{item.result.description}}
                                    </div>
                                  </ng-template>
                                <label for="input">Search by Name, Specialty, Procedure or condition</label>
                                <input [value]="search2"
        ngxTypeahead
        [taList]="myLocalDataList"
        [taItemTpl]="myTemp"
        (taSelected)="selectedTempStatic($event)" class="form-control" id="input">
							</div>
							<div class="form-group col-md-3">
								<label for="inputcity">
									City or Zipcode</label>

								<input type="text" class="form-control" id="input">

							</div>
							<div class="form-group col-md-2 mt-4">
								<a href="doctor_list.html" type="button" class="btn btn-danger" type="submit" style="margin-top:7px">Search</a>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-5 intro-img order-md-last order-first">
					<img class="xs-bg-img" src="../../assets/images/landing_page-1.PNG">
				</div>
			</div>

		</div>
	</section><!-- End Hero -->


	<!-- Doctor list Section -->
<section id="testimonials" class="section section-doctor testimonials">
    <div class="container">
       <div class="row">
		<header class="section-header">
			<h3>Meet Our Doctors</h3>
					</header>

            <div class="col-lg-12">
                <div class="doctor-slider slider">

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-f.jpg">
                            </a>
                            <!-- <a href="javascript:void(0)" class="fav-btn">
                                <i class="far fa-bookmark"></i>
                            </a> -->
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Ruby Perrin</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <span class="d-inline-block average-rating">(17)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Florida, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 27 Mar
                                </li>
                                <!-- <li>
                                    <i class="far fa-money-bill-alt"></i> $300 - $1000
                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i>
                                </li> -->
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-m.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Dr. Suneel Kandru</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(35)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Newyork, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-f.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Dr. Sushma Agarwal</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(27)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Georgia, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-m.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Dr. Abhilash K</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MBBS, MS - General Surgery, MCh - Urology</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(4)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Louisiana, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-f.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Dr.Anusha Sharma</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MBBS, MD - Ophthalmology, DNB - Ophthalmology</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(66)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Michigan, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-f.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Katharine Berthold</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(52)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> Texas, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-m.jpg">
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Dr. Kumar</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MBBS, MD - General Medicine, DM - Neurology</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(43)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker-alt"></i> Kansas, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Doctor Widget -->

                    <!-- Doctor Widget -->
                    <div class="profile-widget">
                        <div class="doc-img">
                            <a href="doctor-profile.html">
                                <img class="img-fluid" alt="User Image" src="../../assets/images/dr-m.jpg">
                            </a>
                            <a href="javascript:void(0)" class="fav-btn">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                        <div class="pro-content">
                            <h3 class="title">
                                <a href="doctor-profile.html">Paul Richard</a>
                                <i class="fa fa-check-circle verified"></i>
                            </h3>
                            <p class="speciality">MBBS, MD - Dermatology , Venereology & Lepros</p>
                            <div class="rating">
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star filled"></i>
                                <i class="fa fa-star"></i>
                                <span class="d-inline-block average-rating">(49)</span>
                            </div>
                            <ul class="available-info">
                                <li>
                                    <i class="fa fa-map-marker"></i> California, USA
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i> Available on Fri, 22 Mar
                                </li>
                            </ul>
                            <div class="row row-sm">
                                <div class="col-6">
                                    <a href="doctor-profile.html" class="btn view-btn">View Profile</a>
                                </div>
                                <div class="col-6">
                                    <a href="booking.html" class="btn book-btn">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Doctor Widget -->

                </div>
            </div>
       </div>
    </div>
</section>
<!-- /Doctor list Section -->


	<main id="main">

		<!-- ======= Services Section ======= -->
		<section id="services" class="services section-doctor">
			<div class="container">

				<header class="section-header">
					<h3>Services</h3>
					<!-- <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p> -->
				</header>

				<div class="row">

					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #fceef3;"><i class="fa fa-clock-o"
									style="color: #ff689b;"></i></div>
							<h4 class="title"><a href="">75%
									Decrease Patients
									wait Time.</a></h4>
							<p class="description"></p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #fff0da;"><i class="fa fa-pencil-square-o"
									style="color: #e98e06;"></i></div>
							<h4 class="title"><a href="">80%
									Reduced Paper
									Work</a></h4>
							<p class="description"> </p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #e6fdfc;"><i class="fa fa-share-square-o"
									style="color: #3fcdc7;"></i></div>
							<h4 class="title"><a href="">50%
									Reduced Referral
									Leakage</a></h4>
							<p class="description"></p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-delay: 0.1s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #eafde7;"><i class="fa fa-map-marker"
									style="color:#41cf2e;"></i></div>
							<h4 class="title"><a href="">100M
									Referrals in United
									States</a></h4>
							<p class="description"></p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-delay: 0.2s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #e1eeff;"><i class="fa fa-line-chart"
									style="color: #2282ff;"></i></div>
							<h4 class="title"><a href="">40%
									Increase Operational
									Efficiency</a></h4>
							<p class="description"></p>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s"
						style="visibility: hidden; animation-duration: 1.4s; animation-delay: 0.2s; animation-name: none;">
						<div class="box">
							<div class="icon" style="background: #ecebff;"><i class="fa fa-usd"
									style="color: #8660fe;"></i></div>
							<h4 class="title"><a href="">40%
									Increased
									Return on Investment</a></h4>
							<p class="description"></p>
						</div>
					</div>

				</div>

			</div>
		</section><!-- End Services Section -->

		<!-- ======= Our Platform Supports Section ======= -->
		<section id="why-us" class="why-us section-bg">
			<div class="container">

				<header class="section-header">
					<h3>OUR PLATFORM SUPPORTS</h3>
					<!-- <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.</p> -->
				</header>

				<div class="row">

					<div class="col-lg-6">
						<div class="why-us-img">
							<!-- <img src="https://bootstrapmade.com/demo/themes/Rapid/assets/img/why-us.jpg" alt="" class="img-fluid"> -->
							<img class="xs-bg-img" src="../../assets/images/landing_page-2.PNG">
						</div>
					</div>

					<div class="col-lg-6">
						<div class="why-us-content">
							<!-- <p>Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum exercitationem est error omnis repudiandae ad dolorum sit.</p>
              <p>
                Explicabo repellendus quia labore. Non optio quo ea ut ratione et quaerat. Porro facilis deleniti porro consequatur
                et temporibus. Labore est odio.

                Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum quis explicabo sed nihil repellat..
              </p> -->
							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #f058dc;"></i>
								<h4>Tracking System.</h4>
								<p>One of the biggest challenges faced by dentists and dental specialists is what
									happens after a referral is sent. Our referral management system has an improved
									integrated scheduling feature that is effective in reducing the communication gap.
									The system also bridges the gap between dentists and specialists, making information
									sharing easier and faster.</p>
							</div>
							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #ffb774;"></i>
								<h4>Improved Communication</h4>
								<p>Our efficient referral management system enhances engagement between dentists and
									specialists via a secure network that is remotely accessible at all times. All
									records and information can be shared via our HIPAA-compliant secure platform.</p>
							</div>
							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #589af1;"></i>
								<h4>Multi-Level Integration</h4>
								<p>Referrals pour in and out through multiple channels ¬– phones, faxes, emails, and
									more. Keeping track of, and effectively managing, all of them can be a difficult and
									daunting task. Our end-to-end referral management system makes this process simpler
									and more efficient. All required information is stored in just one place – keeping,
									updating, and referring to information has never been easier.</p>
							</div>




						</div>

					</div>

				</div>
				<div class="row ">
					<div class="col-lg-6">
						<div class="why-us-content">
							<!-- <p>Molestiae omnis numquam corrupti omnis itaque. Voluptatum quidem impedit. Odio dolorum exercitationem est error omnis repudiandae ad dolorum sit.</p>
              <p>
                Explicabo repellendus quia labore. Non optio quo ea ut ratione et quaerat. Porro facilis deleniti porro consequatur
                et temporibus. Labore est odio.

                Odio omnis saepe qui. Veniam eaque ipsum. Ea quia voluptatum quis explicabo sed nihil repellat..
              </p> -->



							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #f058dc;"></i>
								<h4>Increased Operational efficiency</h4>
								<p>We can increase your operational efficiency by reducing referral rate times,
									decreasing referral leakage, and providing real-time referral information – and, as
									a result, increase your ROI too.</p>
							</div>

							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #ffb774;"></i>
								<h4>Increased Patient
									Satisfaction</h4>
								<p>Proactive communication showed positive effect on patient adherence and patient
									satisfaction</p>
							</div>

							<div class="features wow bounceInUp clearfix"
								style="visibility: hidden; animation-name: none;">
								<i class="fa fa-diamond" style="color: #589af1;"></i>
								<h4>Improved Outcomes</h4>
								<p>Our platform Improves the dentists and specialists experience which drives patient
									loyalty and better outcomes.</p>
							</div>

						</div>

					</div>
					<div class="col-lg-6">
						<div class="why-us-img">
							<!-- <img src="https://bootstrapmade.com/demo/themes/Rapid/assets/img/why-us.jpg" alt="" class="img-fluid"> -->
							<img class="xs-bg-img" src="../../assets/images/landing_page-3.PNG">
						</div>
					</div>



				</div>

			</div>

			<!-- <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div> -->
		</section><!-- End Our Platform Supports Section -->







  </main>
  <!-- End #main -->

	<!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End  Footer -->




	 <!--Login Modal-->
	 <div id="myModal" class="modal fade" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
			  <div class=" col-lg-12 col-md-12 login-right contact-info mt-15px">
				<div class="login-header">
				  <h3>Patient Login </h3>
				</div>
				<form  action=""  method="post" role="form">
				  <div class="form-group form-focus ">
					<input type="email" class="form-control floating" name="email" id="email"  data-rule="email" data-msg="Please enter a valid email" >
					<label class="focus-label">Email</label>
					<div class="validation"></div>
				  </div>
				  <div class="form-group form-focus">
					<input type="password" class="form-control floating">
					<label class="focus-label">Password</label>
					<div class="validation"></div>
				  </div>
				  <div class="text-right">
					<a class="forgot-link" href="./forgot_password.html">Forgot Password ?</a>
				  </div>
				  <div class="form-action">
				  <a href="index.html" class="btn btn-primary btn-block btn-lg login-btn" type="button submit">Login</a>
				</div>
				  <div class="login-or">
					<span class="or-line"></span>
					<span class="span-or">or</span>
				  </div>
				  <div class="row form-row social-login">
					<div class="col-md-6">
					  <a href="#" class="btn btn-facebook btn-block"><i class="fa fa-facebook-f mr-1"></i> Login</a>
					</div>
					<div class="col-md-6">
					  <a href="#" class="btn btn-google btn-block"><i class="fa fa-google-plus mr-1"></i> Login</a>
					</div>
				  </div>
				  <div class="text-center dont-have">Don’t have an account? <a href="register.html">Register</a></div>
				</form>
			  </div>
			</div>
		</div>
	</div>
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
